tmp/
managed_components/
build/
.pio/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
!main/user_app_bsp/assets/mode_covers/mode_cover_local_album.bin
!main/user_app_bsp/assets/mode_covers/mode_cover_ai_album.bin
!main/user_app_bsp/assets/mode_covers/mode_cover_info_dashboard.bin
mmap_generate_*.h
